
        *{
            background-color: rgb(191, 23, 43);
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            color: whitesmoke;
        }

        /* Navbar */

        nav>ul{
            display: none;
        }


        nav>li {
            display: flex;      
            list-style-type: none;
            text-align: center;

        }
        /* Main */
        .grid1{
            
            display: grid;
            grid-template-columns:1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: 
            "hero"
            "description"
            "image"
            ;
        }


        .hero{
            grid-area: hero;
            text-align: center;
            margin-top:1%;
            h1{
                font-family: "Monoton", sans-serif;
                font-weight: 400;
                font-style: normal;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 11vw
            }
            p{
                margin-top: 0; 
                font-size: 4vw;
            } 
        }
        
        .description{
            grid-area: description;
            /* background-color: blue; */
            text-align: center;
            p{
                font-size: 6.5vw; 
            } 
        }

        .image{
            grid-area: image;
            display: flex;
            justify-content: center;
            img {
                border:3px solid whitesmoke; 
                border-radius: 1%; 
                width: 90%; 
                max-width: 40vh;
                box-shadow: -0.6rem 0.4rem 10px black;
            }
        }

        /* Footer */


        .grid2{
            margin-top: 5%;
            display: grid;
            grid-template-columns:1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 
            "button"
            "list"
            ;
        }
        
        .button{
                margin-top:3%;
                grid-area: button;
                display: flex;
                justify-content: center;
                button{
                    border-radius: 50px; 
                    border: 3px solid whitesmoke; font-size: 6.5vw; 
                    text-align: center;
                    padding: 8px;
                }
        }

        .list{
            grid-area: list;
            display: flex;
            justify-content: center;
            ul {
                list-style: none;
                padding: 0;
                li{ 
                    display:grid;
                    grid-template-columns: 2fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: "insta wp";
                    column-gap: 10px;
                    a:nth-of-type(1) i{
                        grid-area: insta;
                    }
                    a:nth-of-type(2) i {
                        grid-area: wp;
                    }
                }
            }
        }

        /*Media Queries */
        @media (width:375px){
            
            .hero{
                margin-top: 5%;
                h1{
                    margin-top: 0;
                    margin-bottom:0;
                    font-size: 11vw;
                }
                p{
                    font-size: 4vw;
                }
            }
            
            .description{
                p{
                    font-size: 5vw;
                    margin-top: 2%;
                }
            }

            .button button{
                font-size: 5vw;
            }
        }

        @media (width:425px){
            
            .hero{
                margin-top: 5%;
                h1{
                    margin-top: 0;
                    margin-bottom:0;
                    font-size: 11vw;
                    font-size: 11vw
                }
                p{
                    font-size: 4vw;
                }
            }
            
            .description{
                p{
                    font-size: 4.5vw;
                    margin-top: 2%;
                }
            }

            .button button{
                font-size: 5vw;
            }
        }

        @media (width:862px){
            
            .description{
                margin-top:0;
                p{
                    margin-top:0;
                    font-size: 10vh;
                }
            }

            .image img{
                width: 90%;
            }
            .grid2{
                margin-top:0;
                
            }


            .button{
                margin-top:1.5%;
                button{
                    margin-top:0;
                    padding: 8px;
                    font-size: 1.5vw;
                }
            }
        }

        @media (width:768px){
            

            .hero{
                h1{
                    margin-top: 0;
                    margin-bottom:0;
                    font-size: 9vw;
                }
                p{
                    font-size: 3vw;
                }
            }
            
            .description{
                p{
                    font-size: 3vw;
                    margin-top: 2%;
                }
            }
            .grid2{
                margin-top:0;
                
            }
            .button button{
                font-size: 3vw;
            }
        }

        @media (width:1024px) {
            
            .hero{
                h1{
                    margin-top: 0;
                    margin-bottom:0;
                    font-size: 7vw;
                }
                p{
                    font-size: 2vw;
                }
            }
            
            .description{
                p{
                    font-size: 2vw;
                    margin-top:0;
                }
            }
            .grid2{
                margin-top:0;
                
            }
            .button button{
                font-size: 2vw;
            }
        }

        @media (width:1440px){
            
            .hero{
                
                h1{
                    margin-top: 0;
                    margin-bottom:0;
                    font-size: 5.5vw;

                }
                p{
                    font-size: 1.5vw;
                }
            }
            
            .description{
                margin-top:0;
                p{
                    font-size: 1.5vw;
                    margin-top:0;
                }
            }
            .grid2{
                margin-top:0;
                
            }


            .button{
                margin-top:1.5%;
                button{
                    margin-top:0;
                    padding: 8px;
                    font-size: 1.5vw;
                }
            }
        }


        @media (min-width:1441px){
            
            .hero{
                h1{
                    margin-top: 0;
                    margin-bottom:0;
                    font-size: 4vw;

                }
                p{
                    font-size: 1.5vw;
                }
            }
            
            .description{
                margin-top:0;
                p{
                    font-size: 1.5vw;
                    margin-top:0;
                }
            }
            .grid2{
                margin-top:0;
                
            }


            .button{
                margin-top:1.5%;
                button{
                    margin-top:0;
                    padding: 8px;
                    font-size: 1.5vw;
                }
            }
        }